<head>

	<script>
	  function rapporti() {
	    var pign = document.getElementById("pign").value;
	    var cor = document.getElementById("cor").value;
	    var rapp_unrounded = (cor/pign);
	    var rapp = Math.round(rapp_unrounded*100)/100;
	    return rapp;
	  }

	  function show() {
	  	var table = document.getElementById('table');

	  	table.style.display = 'block';
	  }

	  function new_row(cor, pig) {

	  	clean_table();

  		var row = document.getElementById('trs');

  		var posizione = row.rowIndex + 1;

  		var cor_int = Math.trunc(cor);
  		var pig_int = Math.trunc(pig);

  		var R_prec =  Math.round(((cor_int-1)/pig_int)*100)/100;
  		var R_0 =  Math.round((cor_int/pig_int)*100)/100;
  		var R_succ =  Math.round(((cor_int+1)/pig_int)*100)/100;

  		var cor_array = new Array("/", "/", "/", "/", "/", "/", "/", "/", "/", "/", "/", "/", "/", "/", "/");
  		var rapp_array = new Array("/", "/", "/", "/", "/", "/", "/", "/", "/", "/", "/", "/", "/", "/", "/");

  		var i = 0;

		for (p = 9; p<14; p++) {

			for (c = 65; c < 94; c++){

				var rapporto = Math.round((c/p)*100)/100;

				if ((rapporto >= R_prec) && (rapporto <= R_succ)) {

					var rapporto1 = Math.round(((c+1)/p)*100)/100;
					var rapporto2 = Math.round(((c+2)/p)*100)/100;

					cor_array[i] = c;
					cor_array[i+1] = c+1;
					cor_array[i+2] = c+2;

					rapp_array[i] = rapporto;
					rapp_array[i+1] = rapporto1;
					rapp_array[i+2] = rapporto2;

					break;

				}

			}

			i = i + 3;

		}

		inserisci(posizione, cor_array, rapp_array);
	  }

	  function inserisci(posizione, ca, ra) {

	  	var oTable = document.getElementById('trapp');

	  	var oTr0 = oTable.insertRow(posizione);      // creazione riga 1
	  	var oTr1 = oTable.insertRow(posizione + 1);  // creazione riga 2
	  	var oTr2 = oTable.insertRow(posizione + 2);  // creazione riga 3

	  	// Tabella pignone 9 -- creazione caselle
	  	var oTh00 = document.createElement("TH");
	  	var oTh01 = document.createElement("TH");
	  	var oTh02 = document.createElement("TH");
	  	var oTd00 = document.createElement("TD");
	  	var oTd01 = document.createElement("TD");
	  	var oTd02 = document.createElement("TD");

	  	// Tabella pignone 10 -- creazione caselle
	  	var oTh10 = document.createElement("TH");
	  	var oTh11 = document.createElement("TH");
	  	var oTh12 = document.createElement("TH");
	  	var oTd10 = document.createElement("TD");
	  	var oTd11 = document.createElement("TD");
	  	var oTd12 = document.createElement("TD");

	  	// Tabella pignone 11 -- creazione caselle
	  	var oTh20 = document.createElement("TH");
	  	var oTh21 = document.createElement("TH");
	  	var oTh22 = document.createElement("TH");
	  	var oTd20 = document.createElement("TD");
	  	var oTd21 = document.createElement("TD");
	  	var oTd22 = document.createElement("TD");

	  	// Tabella pignone 12 -- creazione caselle
	  	var oTh30 = document.createElement("TH");
	  	var oTh31 = document.createElement("TH");
	  	var oTh32 = document.createElement("TH");
	  	var oTd30 = document.createElement("TD");
	  	var oTd31 = document.createElement("TD");
	  	var oTd32 = document.createElement("TD");

	  	// Tabella pignone 13 -- creazione caselle
	  	var oTh40 = document.createElement("TH");
	  	var oTh41 = document.createElement("TH");
	  	var oTh42 = document.createElement("TH");
	  	var oTd40 = document.createElement("TD");
	  	var oTd41 = document.createElement("TD");
	  	var oTd42 = document.createElement("TD");

	  	// Tabella pignone 9 -- creazione valore
	  	var oText_C_00 = document.createTextNode(ca[0]);
	  	var oText_C_01 = document.createTextNode(ca[1]);
		var oText_C_02 = document.createTextNode(ca[2]);
		var oText_R_00 = document.createTextNode(ra[0]);
	  	var oText_R_01 = document.createTextNode(ra[1]);
		var oText_R_02 = document.createTextNode(ra[2]);

		// Tabella pignone 10 -- creazione valore
		var oText_C_10 = document.createTextNode(ca[3]);
	  	var oText_C_11 = document.createTextNode(ca[4]);
		var oText_C_12 = document.createTextNode(ca[5]);
		var oText_R_10 = document.createTextNode(ra[3]);
	  	var oText_R_11 = document.createTextNode(ra[4]);
		var oText_R_12 = document.createTextNode(ra[5]);

		// Tabella pignone 11 -- creazione valore
		var oText_C_20 = document.createTextNode(ca[6]);
	  	var oText_C_21 = document.createTextNode(ca[7]);
		var oText_C_22 = document.createTextNode(ca[8]);
		var oText_R_20 = document.createTextNode(ra[6]);
	  	var oText_R_21 = document.createTextNode(ra[7]);
		var oText_R_22 = document.createTextNode(ra[8]);

		// Tabella pignone 12 -- creazione valore
		var oText_C_30 = document.createTextNode(ca[9]);
	  	var oText_C_31 = document.createTextNode(ca[10]);
		var oText_C_32 = document.createTextNode(ca[11]);
		var oText_R_30 = document.createTextNode(ra[9]);
	  	var oText_R_31 = document.createTextNode(ra[10]);
		var oText_R_32 = document.createTextNode(ra[11]);

		// Tabella pignone 13 -- creazione valore
		var oText_C_40 = document.createTextNode(ca[12]);
	  	var oText_C_41 = document.createTextNode(ca[13]);
		var oText_C_42 = document.createTextNode(ca[14]);
		var oText_R_40 = document.createTextNode(ra[12]);
	  	var oText_R_41 = document.createTextNode(ra[13]);
		var oText_R_42 = document.createTextNode(ra[14]);

		// Tabella pignone 9 -- inserimento valore 
	  	oTh00.appendChild(oText_C_00);
	  	oTh01.appendChild(oText_C_01);
	  	oTh02.appendChild(oText_C_02);
	  	oTd00.appendChild(oText_R_00);
	  	oTd01.appendChild(oText_R_01);
	  	oTd02.appendChild(oText_R_02);

	  	// Tabella pignone 10 -- inserimento valore 
	  	oTh10.appendChild(oText_C_10);
	  	oTh11.appendChild(oText_C_11);
	  	oTh12.appendChild(oText_C_12);
	  	oTd10.appendChild(oText_R_10);
	  	oTd11.appendChild(oText_R_11);
	  	oTd12.appendChild(oText_R_12);

	  	// Tabella pignone 11 -- inserimento valore 
	  	oTh20.appendChild(oText_C_20);
	  	oTh21.appendChild(oText_C_21);
	  	oTh22.appendChild(oText_C_22);
	  	oTd20.appendChild(oText_R_20);
	  	oTd21.appendChild(oText_R_21);
	  	oTd22.appendChild(oText_R_22);

	  	// Tabella pignone 12 -- inserimento valore 
	  	oTh30.appendChild(oText_C_30);
	  	oTh31.appendChild(oText_C_31);
	  	oTh32.appendChild(oText_C_32);
	  	oTd30.appendChild(oText_R_30);
	  	oTd31.appendChild(oText_R_31);
	  	oTd32.appendChild(oText_R_32);

	  	// Tabella pignone 13 -- inserimento valore 
	  	oTh40.appendChild(oText_C_40);
	  	oTh41.appendChild(oText_C_41);
	  	oTh42.appendChild(oText_C_42);
	  	oTd40.appendChild(oText_R_40);
	  	oTd41.appendChild(oText_R_41);
	  	oTd42.appendChild(oText_R_42);

	  	// Inserimento caselle riga 0
	  	oTr0.appendChild(oTh00);
		oTr0.appendChild(oTd00);
		oTr0.appendChild(oTh10);
		oTr0.appendChild(oTd10);
		oTr0.appendChild(oTh20);
		oTr0.appendChild(oTd20);
		oTr0.appendChild(oTh30);
		oTr0.appendChild(oTd30);
		oTr0.appendChild(oTh40);
		oTr0.appendChild(oTd40);

		// Inserimento caselle riga 0
	  	oTr1.appendChild(oTh01);
		oTr1.appendChild(oTd01);
		oTr1.appendChild(oTh11);
		oTr1.appendChild(oTd11);
		oTr1.appendChild(oTh21);
		oTr1.appendChild(oTd21);
		oTr1.appendChild(oTh31);
		oTr1.appendChild(oTd31);
		oTr1.appendChild(oTh41);
		oTr1.appendChild(oTd41);

		// Inserimento caselle riga 0
	  	oTr2.appendChild(oTh02);
		oTr2.appendChild(oTd02);
		oTr2.appendChild(oTh12);
		oTr2.appendChild(oTd12);
		oTr2.appendChild(oTh22);
		oTr2.appendChild(oTd22);
		oTr2.appendChild(oTh32);
		oTr2.appendChild(oTd32);
		oTr2.appendChild(oTh42);
		oTr2.appendChild(oTd42);

	  }

	  function clean_table() {

	  	var oTable = document.getElementById('trapp');
	  	var nrows = oTable.rows.length;

	  	if (nrows == 4) {
		  	oTable.deleteRow(oTable.rows.length-3);
		  	oTable.deleteRow(oTable.rows.length-2);
		  	oTable.deleteRow(oTable.rows.length-1);
	 	}
	  }

	</script>

</head>

<div class="container center" id="form">

	<form name="calculator">
		<div>
			<h4>DENTI PIGNONE</h4>
		    <p class="range-field">
		      <input type="range" id="pign" min="9" max="13" onChange="rapporti()" />
		    </p>
		    <br>
		</div>
		<div>
		    <h4>DENTI CORONA</h4>
		    <p class="range-field">
		      <input type="range" id="cor" min="65" max="95" onChange="rapporti()" />
		    </p>
		    <br>
		</div>
		<div class="row">
			<div class="col s12 m12 l6">
		    	<h4 >RAPPORTO</h4>
			</div>
			<div class="col s12 m12 l6">
		    	<input disabled class="center" type="text" name="ans" value="" />
			</div>
		</div>
		<br>
		<a class="waves-effect waves-light btn-large btn-calc" value="Calcola" onClick="document.calculator.ans.value=rapporti(); show(); new_row(document.getElementById('cor').value, document.getElementById('pign').value);">CALCOLA</a>
  	</form>
  	<br><br>
</div>

<div id="table" style="display:none" class="container">
	<table id="trapp">

		<tbody>

			<tr id="trs">
				<th colspan="2" class="center vertical-border-right">9</th>
				<th colspan="2" class="center vertical-border-right">10</th>
				<th colspan="2" class="center vertical-border-right">11</th>
				<th colspan="2" class="center vertical-border-right">12</th>
				<th colspan="2" class="center vertical-border-right">13</th>
			</tr>

		</tbody>
	</table>
</div>